<li class="list-group-item">
  <%= form_with(model: [@todo_list, todo_item], namespace: dom_id(todo_item), data: { controller: "auto-submit" }) do |form| %>
    <%= form.checkbox :done, class: "form-check-input me-1", data: { action: "auto-submit#autoSubmit" } %>
    <%= form.label :done, todo_item.name, class: "form-check-label #{"text-black-50 text-decoration-line-through" if todo_item.done?}" %>
  <% end %>
</li>
