<h1><%= @todo_list.name %></h1>

<!-- Form for item -->
<%= render "todo_items/form", todo_item: @todo_list.todo_items.new %>

<!-- List -->
<ul id="todo_items" class="list-group">
  <%= render @todo_list.todo_items %>
</ul>
